
body{
    background-color: #171717;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.image{
    filter:brightness(0.8);
    /*border: 5px solid grey;*/
    /*border-radius: 2%;*/

    margin: 5px;
    color-adjust: economy;
}

.image:hover{
    filter:brightness(1);


}

