* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffba00;
    font-family: "Adelle Sans Devanagari", serif;

}
.heading{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    padding-top: 1em;
}

section{
    padding: 10em 0 10em 0;
}

.card{


}

.card__image{
    height: 40vh;
    width: 25vw;

}

.center{
   padding:0 0 0 8em;
}

.left{
   float: left;
    margin: 0 5em 0 0;

}

.right{
    float: right;
}

.card__description{
    text-align: center;
    justify-content: center;
}

.text{
    padding-top: 0.5em;
}

.date{
    font-size: larger;
    padding: 2em;
    font-weight: 600;
}
