*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, serif;
}

.parent{
    width: 100%;
    height: 100vh;
}

.parent .right, .left{
    float:left;
    width: 50%;
}

.left img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.right {
    height: 100vh;
    color: white;
    padding-left: 4em;
    background-color: #0d3b2e;
}

.right h1 {
    font-size: 4.2em;
    padding: 2em 3em 0.4em 0;
}

.right .text{
    font-weight: 300;
    font-size: 1.8em;
    padding-bottom: 4em;
}

.right .data{
    padding-top: 1em;
    font-weight: 200;
    margin-bottom: 3em;
    font-size: 1.3em;
}

button{
    border: none;
    font-weight: 900;
    padding: 1em 2.6em;
    border-radius: 2.2em;
    background-color: #ffba00;
    text-transform: capitalize;
}

/*media query*/
@media (max-width: 880px) {
    .parent .right,.left{
        width: 100%;
    }

}

@media (max-width: 620px) {
    .right{
        height: 80vh;
    }

    .right h1 {
        font-size: 4.2em;
        padding: 2em 1em 0.4em 0;
    }

    .right .text{
        padding-bottom: 2em;
    }

    .left img{
        height: 50vh;
    }
}

@media (max-width: 480px) {
    .right{
        height: 100vh;
    }
    .right h1 {
        font-size: 3em;
        padding: 1em 0.5em 0.4em 0;
    }

    .right .text{
        padding-bottom: 1.5em ;
    }
    button{
        padding: 0.4em;
        font-size: 0.9em;
        margin-right: 0.8em;
    }
}

@media (max-width: 320px) {
    .right{
        height: 70vh;
    }
    .right h1{
        font-size: 3em;
        padding-top: 0.5em;
    }

    .right .text{
        padding: 1.5em 0;
    }

    button{
        padding: 0.4em;
    }
}

